# Binary
pathvector

# Output files
output/*

# JetBrains configs
.idea/

# Release
dist/
build/

# Coverage
cover.*

# Vendor build
vendorbuild/juniper/*.pem
vendorbuild/juniper/jetez/
vendorbuild/cisco/ioxclient

# Testing
test-cache/
test-conf.yml