[Unit]
Description=BIRD Internet Routing Daemon
After=network.target

[Service]
ExecStartPre=/usr/bin/bird -p -c /mnt/flash/bird.conf
ExecReload=/usr/bin/birdc configure
ExecStart=/usr/bin/bird -f -c /mnt/flash/bird.conf -s /run/bird.ctl
Restart=on-abort

[Install]
WantedBy=multi-user.target
