[Unit]
Description=GoRTR
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gortr -bind 127.0.0.1:8282 -verify.key /mnt/flash/cf.pub

[Install]
WantedBy=multi-user.target
