binary/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync

.build/
build.log

cache/

chroot/
chroot.packages.*

config/binary
config/bootstrap
config/chroot
config/common
config/source

config/control

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync
