<html lang="en">
<head>
    <title>Routing Dashboard for AS{{ .ASN }}</title>
    <style>
        body {
            color: white;
            background-color: black;
            font-family: 'Courier New', monospace;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .table-wrapper {
            border: 2px white solid;
            border-radius: 15px;
            padding-bottom: 10px;
            width: 90%;
            overflow-x: auto;
            margin-bottom: 25px;
        }

        .table-wrapper h2 {
            padding-left: 15px;
        }

        table {
            border-collapse: collapse;
            border-top-left-radius: 15px;
            width: 100%;
        }

        th {
            background-color: #202020;
            border-bottom: 1px solid #555555;
            color: white;
            margin: 0;
        }

        tr {
            display: table-row !important;
            background-color: #111111;
        }

        td, th {
            padding: 15px 20px;
            text-align: left;
        }

        footer {
            text-align: center;
        }
    </style>
</head>

<body>
<h1>Routing Dashboard for AS{{ .ASN}}</h1>

<div class="table-wrapper">
    <h2>Router</h2>

    <table>
        <thead>
        <tr>
            <th>ASN</th>
            <th>Router ID</th>
            <th>Peers</th>
            <th>IRRDB</th>
            <th>RTR Server</th>
            <th>Prefixes</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ .ASN }}</td>
            <td>{{ .RouterID }}</td>
            <td>{{ len .Peers }}</td>
            <td>{{ .IRRServer }}</td>
            <td>{{ .RTRServer }}</td>
            <td>
            {{- range $k, $prefix := .Prefixes }}
                {{ $prefix }}<br>
            {{ end }}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="table-wrapper">
    <h2>Peers</h2>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>ASN</th>
            <th>AS-SET</th>
            <th>Local Pref</th>
            <th>Prepends</th>
            <th>Import Limit</th>
            <th>Neighbor IPs</th>
            <th>Options</th>
        </tr>
        </thead>

        <tbody>
        {{- range $peerName, $peer := .Peers }}
            <tr>
                <td>{{ $peerName }}</td>
                <td>{{ IntDeref $peer.ASN }}</td>
                <td>{{ StrDeref $peer.ASSet }}</td>
                <td>{{ IntDeref $peer.LocalPref }}</td>
                <td>{{ IntDeref $peer.Prepends }}</td>
                <td>{{ IntDeref $peer.ImportLimit4 }} IPv4<br>{{ IntDeref $peer.ImportLimit6 }} IPv6</td>
                <td>
                    {{- range $j, $ip := $peer.NeighborIPs }}
                        {{ $ip }}<br>
                    {{ end }}
                </td>
                <td>{{ if $peer.Multihop }}multihop{{ end }} {{ if $peer.Disabled }}disabled{{ end }} {{ if $peer.Passive }}passive{{ end }}</td>
            </tr>
        {{- end }}
        </tbody>
    </table>
</div>

<footer>Last updated at {{ UnixTimestamp }}. Powered by <a href="https://pathvector.io">Pathvector</a>.</footer>
</body>
</html>
