body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6, p, li, .md-nav__title {
    color: white !important;
}

:root {
    --md-primary-fg-color: #720bae;
    --md-primary-fg-color--light: #851ec5;
    --md-primary-fg-color--dark: #4e0a7c;
    --md-accent-fg-color: #720bae;
}

th {
    background-color: #1d1d1d !important;
    color: white !important;
}

tr {
    background-color: #1d1d1d !important;
    color: white !important;
}

code {
    background-color: #1d1d1d !important;
}