name: Arista build test

on:
  push:
    branches: [ main ]

jobs:
  arista-build:
    name: Arista Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: make
        run: cd arista && make
