name: goreleaser

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # symver vmajor.minor.patch format only

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install nfpm
        run: curl -sfL https://install.goreleaser.com/github.com/goreleaser/nfpm.sh | sh

      - name: Move nfpm to /usr/bin/
        run: sudo mv bin/nfpm /usr/bin/nfpm

      - name: Store signing files
        run: |
          echo "$JUNIPER_KEY" | base64 -d > vendorbuild/juniper/key.pem
          echo "$JUNIPER_CERT" | base64 -d > vendorbuild/juniper/cert.pem
        shell: bash
        env:
          JUNIPER_KEY: ${{ secrets.JUNIPER_KEY }}
          JUNIPER_CERT: ${{ secrets.JUNIPER_CERT }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FURY_TOKEN: ${{ secrets.FURY_TOKEN }}
